{% extends 'base.html.twig' %}

{% block title %}ArtStation
{% endblock %}

{% block body %}

	<!-- ======= Hero Section ======= -->
	<section id="hero" class="hero d-flex align-items-center">

		<div class="container">
			<div class="row">
				<div class="col-lg-6 d-flex flex-column justify-content-center">
					<h1 data-aos="fade-up">Notre site vous offre une experience unique dans son genre!</h1>


					<h2 data-aos="fade-up" data-aos-delay="400">
						vous pouvez reserver des evenements, workshops, acheter des produits et meme exprimer votre avis a propos un sujet artistique!</h2>

					<div data-aos="fade-up" data-aos-delay="600">
						<div class="text-center text-lg-start">
							<a href="{{ path ('app_produit')}}" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">

								<span>C'est Parti</span>
								<i class="bi bi-arrow-right"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
					<img src="assets/img/hero-img.png" class="img-fluid" alt="">
				</div>
			</div>
		</div>

	</section>
	<section id="about" class="about">

		<div class="container" data-aos="fade-up">
			<div class="row gx-0">

				<div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
					<div class="content">
						<h3>Qui sommes-nous ?</h3>
						<h2>Notre équipe est composée de six jeunes talentueux,dynamiques et dévoués</h2>
						<p>
						</p>
						<div class="text-center text-lg-start">
							<a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
								<span>Read More</span>
								<i class="bi bi-arrow-right"></i>
							</a>
						</div>
					</div>
				</div>

				<div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
					<img src="assets/img/teaam.jpg" class="img-fluid" alt="">
				</div>

			</div>
		</div>

	</section>
	<section id="team" class="team">

		<div class="container" data-aos="fade-up">

			<header class="section-header">
				<h2>Equipe</h2>
				<p>Notre equipe</p>
			</header>

			<div class="row gy-4">

				<div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
					<div class="member">
						<div class="member-img">
							<img src="assets/img/team/king.jpg" class="img-fluid" alt="">
							<div class="social">
								<a href="">
									<i class="bi bi-twitter"></i>
								</a>
								<a href="">
									<i class="bi bi-facebook"></i>
								</a>
								<a href="">
									<i class="bi bi-instagram"></i>
								</a>
								<a href="">
									<i class="bi bi-linkedin"></i>
								</a>
							</div>
						</div>
						<div class="member-info">
							<h4>Ouaili Wajdi</Ah4>
							<span>Chief Executive Officer</span>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
					<div class="member">
						<div class="member-img">
							<img src="assets/img/team/lhamm.jpg" class="img-fluid" alt="">
							<div class="social">
								<a href="">
									<i class="bi bi-twitter"></i>
								</a>
								<a href="">
									<i class="bi bi-facebook"></i>
								</a>
								<a href="">
									<i class="bi bi-instagram"></i>
								</a>
								<a href="">
									<i class="bi bi-linkedin"></i>
								</a>
							</div>
						</div>
						<div class="member-info">
							<h4>Aissaoui Nada</h4>
							<span>Product Manager</span>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
					<div class="member">
						<div class="member-img">
							<img src="assets/img/team/spon2.jpg" class="img-fluid" alt="">

							<div class="social">
								<a href="">
									<i class="bi bi-twitter"></i>
								</a>
								<a href="">
									<i class="bi bi-facebook"></i>
								</a>
								<a href="">
									<i class="bi bi-instagram"></i>
								</a>
								<a href="">
									<i class="bi bi-linkedin"></i>
								</a>
							</div>
						</div>
						<div class="member-info">
							<h4>Gharbi Med Skander</h4>
							<span>CTO</span>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
					<div class="member">
						<div class="member-img">
							<img src="assets/img/team/lhamm2.jpg" class="img-fluid" alt="">

							<div class="social">
								<a href="">
									<i class="bi bi-twitter"></i>
								</a>
								<a href="">
									<i class="bi bi-facebook"></i>
								</a>
								<a href="">
									<i class="bi bi-instagram"></i>
								</a>
								<a href="">
									<i class="bi bi-linkedin"></i>
								</a>
							</div>
						</div>
						<div class="member-info">
							<h4>Zahmoul Malek</h4>
							<span>Accountant</span>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
					<div class="member">
						<div class="member-img">
							<img src="assets/img/team/amouna.jpg" class="img-fluid" alt="">
							<div class="social">
								<a href="">
									<i class="bi bi-twitter"></i>
								</a>
								<a href="">
									<i class="bi bi-facebook"></i>
								</a>
								<a href="">
									<i class="bi bi-instagram"></i>
								</a>
								<a href="">
									<i class="bi bi-linkedin"></i>
								</a>
							</div>
						</div>
						<div class="member-info">
							<h4>Rezgui Med Amine</h4>
							<span>Accountant</span>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
					<div class="member">
						<div class="member-img">
							<img src="assets/img/team/nour.jpg" class="img-fluid" alt="">
							<div class="social">
								<a href="">
									<i class="bi bi-twitter"></i>
								</a>
								<a href="">
									<i class="bi bi-facebook"></i>
								</a>
								<a href="">
									<i class="bi bi-instagram"></i>
								</a>
								<a href="">
									<i class="bi bi-linkedin"></i>
								</a>
							</div>
						</div>
						<div class="member-info">
							<h4>Ghali Nour</h4>
							<span>Accountant</span>
						</div>
					</div>
				</div>


			</div>

		</div>

	</section>
	<section id="contact" class="contact">

		<div class="container" data-aos="fade-up">

			<header class="section-header">
				<h2>Contact</h2>
				<p>Contact </p>
			</header>

			<div class="row gy-4">

				<div class="col-lg-6">

					<div class="row gy-4">
						<div class="col-md-6">
							<div class="info-box">
								<i class="bi bi-geo-alt"></i>
								<h3>Adresse</h3>
								<p>2080 Esprit,<br>Cité la Gazelle, Ariana</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="info-box">
								<i class="bi bi-telephone"></i>
								<h3>Applez-Nous!</h3>
								<p>+216 12345678<br>+216 79500530</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="info-box">
								<i class="bi bi-envelope"></i>
								<h3>Email </h3>
								<p>ArtStation@gmail.com<br>contactArtStation@gmail.com</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="info-box">
								<i class="bi bi-clock"></i>
								<h3>Disponibilité</h3>
<p>Lundi - Vendredi<br>9:00 - 17:00</p>

							</div>
						</div>
					</div>

				</div>

				<div class="col-lg-6">
					<form action="forms/contact.php" method="post" class="php-email-form">
						<div class="row gy-4">

							<div class="col-md-6">
								<input type="text" name="name" class="form-control" placeholder="Votre Nom" required>
							</div>

							<div class="col-md-6 ">
								<input type="email" class="form-control" name="email" placeholder="Votre Mail" required>
							</div>

							<div class="col-md-12">
								<input type="text" class="form-control" name="subject" placeholder="Contenu" required>
							</div>

							<div class="col-md-12">
								<textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
							</div>

							<div class="col-md-12 text-center">
								<div class="loading">Loading</div>
								<div class="error-message"></div>
								<div class="sent-message">Votre message a ete envoyé, Merci !</div>

								<button type="submit"> Message</button>
							</div>

						</div>
					</form>

				</div>

			</div>

		</div>

	</section>
	<!-- End Contact Section -->


<!-- End Team Section -->


	<!-- End Hero -->


{% endblock %}
