{% extends 'baseFront.html.twig' %}
{% block title %}Art Station{% endblock %}


{% block body %}
     <div class="container">
 </br>  </br>   </br>  </br>  
            <div class="col-md-6 offset-md-3">
                 


             <div class="text-center">
       <h2>prix totale : {{shoppingcart.Totalprice}}  Dt <h2>
                </div>
                  </div>
              </br>
  </br>  </br>  
   <div class="text-center"> <!-- add text-center class to center button -->
                 
                <div class="form-group">
                  <a href="{{ path('app_discount') }}" class="btn btn-success btn-block">code coupant</a>
                    </br>  </br>  
                     <a  class="btn btn-success btn-block">acheter</a>
                </div>
    </div> 

       

            </div>
        </div>
    </div>
{% endblock %}